dash==1.17.0
dash-bootstrap-components==0.10.7
dash-core-components==1.13.0
dash-html-components==1.1.1
dash-renderer==1.8.3
dash-table==4.11.0
numpy==1.19.4
pandas==1.1.4
plotly==4.12.0
python-dateutil==2.8.1
rdflib==5.0.0
